<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>WelCome Page</display-name>
    <welcome-file-list>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.umkc.users.RegisterUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.umkc.users.LoginUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>RegisterMongolab</servlet-name>
        <servlet-class>com.umkc.dao.RegisterMongolab</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterMongolab</servlet-name>
        <url-pattern>/RegisterMongolab</url-pattern>
    </servlet-mapping>

</web-app>  